@import url('https://fonts.googleapis.com/css2?family=Popins:wght@300;400;500;600;700;800;900&display=swap');

*{
 font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;

}

:root{
    --bg-color:#081b29;
    --second-bg-color: #112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100%;
}

.a-title {
  position: fixed;
  color: var(--text-color);
  -webkit-text-stroke: 1.3px white;
  letter-spacing: 1.125px;
  font-size: 50px;
  margin-top: 180px;
  pointer-events: none;
  font-weight: 900;
  filter: drop-shadow(2px 4px 6px --main-color);
}

.a-second-title {
  position: absolute;
  margin-top:38vh;
  pointer-events: none;
  -webkit-text-stroke: 1.3px white;
  letter-spacing: 1.125px;
  font-size: -webkit-xxx-large;
  font-weight: 900;
  mix-blend-mode: color-dodge;
}

canvas {
  width: 100%;
  height: 100%;
}

#container p{
  text-align-last: center;
  position: fixed;
  justify-content: center;
  color: var(--text-color);
  -webkit-text-stroke: 1.3px white;
  letter-spacing: 1.125px;
  font-size: 20px;
  margin: 50vh 27% 0 25%;
  pointer-events: none;
  font-weight: 300;
}

.middle {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: -5px 5px 15px -5px #f1f1f1;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn i {
  justify-content: center;
  align-items: center;
  line-height: 60px;
  font-size: 26px;
  transition: 0.3s linear;
}

.btn:nth-child(1) i {
  color: #000;
}

.btn:nth-child(2) i {
  color: #1da1f2;
}

.btn:nth-child(3) i {
  color: rgb(131,58,180);
  color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.btn:nth-child(4) i {
  color: #3b5998;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:hover i {
  transform: scale(1.2);
  color: #fff;
}

.btn:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:nth-child(1)::before {
  background: #000;
}

.btn:nth-child(2)::before {
  background: #1da1f2;
}

.btn:nth-child(3)::before {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.btn:nth-child(4)::before {
  background: #3b5998;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}
@media (max-width: 1200px) {
  html{
      font-size: 55%;
  }  
}

@media (max-width: 991px) {
  #container h1{
    font-size: 50px;
  }
  #container h2{
    font-size: 42px;
  }
  #container p{
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header{
      padding: 2rem 4%;
  }
  section{
      padding: 10rem 4% 2rem;
  }
  #container h1{
    font-size: 45px;
  }
  #container h2{
    font-size: 40px;
  }
  #container p{
    font-size: 16px;
  }

}
@media (max-width: 655px) {
  #container h1{
    font-size: 43px;
  }
  #container h2{
    font-size: 38px;
  }
  #container p{
    font-size: 14px;
    margin-bottom: 7px;
  }
}

@media (max-width: 514px) {
  #container h1{
    font-size: 38px;
  }
  #container h2{
    font-size: 34px;
  }
  #container p{
    text-align-last: left;
    font-size: 12px;
    margin-bottom: 7px;
  }
}

@media (max-width: 424px) {
  #container h1{
    font-size: 32px;
  }
  #container h2{
    font-size: 29px;
  }
  #container p{
    text-align-last: left;
    font-size: 10px;
    margin-bottom: 7px;
  }
}

@media (width: 412px) {
  #container h1{
    font-size: 32px;
    margin-top: 250px;
  }
  #container h2{
    font-size: 29px;
    margin-top: 320px;
  }
  #container p{
    text-align-last: left;
    font-size: 10px;
    margin-top: 400px;
    margin-bottom: 7px;
  } 
}

@media (max-width: 400px) {
  #container h1{
    font-size: 35px;
  }
  #container h2{
    font-size: 32px;
  }
  #container p{
    text-align-last: left;
    font-size: 10px;
    margin-bottom: 7px;
  }
}

@media (max-width: 368px) {
  #container h1{
    font-size: 29px;
  }
  #container h2{
    font-size: 26px;
  }
  #container p{
    text-align-last: left;
    font-size: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 335px) {
  #container h1{
    font-size: 25px;
  }
  #container h2{
    font-size: 21px;
  }
  #container p{
    text-align-last: left;
    font-size: 9px;
    margin-bottom: 10px;
  }
}

/* .btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: -5px 5px 15px -5px #f1f1f1;
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn i {
  justify-content: center;
  align-items: center;
  line-height: 60px;
  font-size: 26px;
  transition: 0.3s linear;
} */
